footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--footerheight);
  background-color: rgb(44, 31, 31);
  color: antiquewhite;
  text-wrap: pretty;
}

footer p {
  font-size: 18px;
}

.middle-section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-section-footer img {
  width: 20px;
}

.social-media-icons img {
  width: 48px;
}

.rights-section-footer {
  display: flex;
  flex-direction: column;
}

.rights-section-footer a {
  font-size: 24px;
  color: antiquewhite;
}

@media(max-width: 750px) {
  footer {
    justify-content: center;
    gap: 20px;
    overflow-x: hidden;
  }
  .rights-section-footer a {
      font-size: 16px;
  }
  .social-media-icons img {
    width: 30px;
  }
}

@media(max-width: 550px) {
  footer {
    gap: 20px;
  }
  .social-media-icons {
    display: none;
  }
}

@media(max-width: 550px) {
  footer {
  }
  .middle-section-footer {
    align-items: center;
    padding: 0;
    margin: 0;
    text-wrap: wrap;
  }
}